@mixin dark-gtalk {
  $gt-color-main: #4e6ff6; // primary color
  $gt-color-btn: #ffffff;

  .gt-container {
    a {
      color: $gt-color-main;
      &:hover {
        color: lighten($gt-color-main, 20%);
        border-color: lighten($gt-color-main, 20%);
      }
    }

    .gt-svg svg {
      fill: $gt-color-main;
    }

    .gt-spinner::before {
      border-color: $gt-color-btn;
      border-top-color: $gt-color-main;
    }

    .gt-btn {
      background-color: $gt-color-main;
      border-color: $gt-color-main;
      color: $gt-color-btn;
      &-login {
        &:hover {
          background-color: lighten($gt-color-main, 20%);
          border-color: lighten($gt-color-main, 20%);
        }
      }
      &-preview {
        background-color: $gt-color-btn;
        color: $gt-color-main;
        &:hover {
          background-color: darken($gt-color-btn, 5%);
          border-color: lighten($gt-color-main, 20%);
        }
      }
      &-public {
        &:hover {
          background-color: lighten($gt-color-main, 20%);
          border-color: lighten($gt-color-main, 20%);
        }
      }
    }

    .gt-link {
      border-bottom-color: $gt-color-main;
    }

    .gt-user .is--poping .gt-ico svg {
      fill: $gt-color-main;
    }

    .gt-popup .gt-action.is--active:before {
      background: $gt-color-main;
    }

    .gt-header-controls-tip {
      color: $gt-color-main;
    }

    .gt-comment-username {
      color: $gt-color-main;
    }
  }
}